body {
	display: grid;
	justify-content: center;
	height: 100vh;
	align-items: center;
	margin: 0;
	padding: 0;
}

button {
	font-size: 1em;
	cursor: pointer;
	background: linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
	box-shadow: 0px -1px 6px white inset;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 2px;
	padding: 4px;
}

button:hover {
	box-shadow: 1px 1px 2px #ffb76b,0px -1px 5px white inset;
	border-color: #FCBF5D;
	background: linear-gradient(#FFE3B5 50%, #FCBF5D 50%);
}
